<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Merge PDFs - Multi Tool</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="{{ url_for('static', filename='img/favicon.ico') }}" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Open+Sans:wght@400;500;600;700&display=swap"
        rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="{{ url_for('static', filename='lib/fontawesome/css/all.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='lib/bootstrap-icons/font/bootstrap-icons.css') }}" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="{{ url_for('static', filename='lib/animate/animate.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='lib/owlcarousel/assets/owl.carousel.min.css') }}" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">

</head>

<body>
    <div class="bg-white p-0">


        <!-- Navbar & Hero Start -->
        <div class="position-relative p-0">
            <nav class="navbar navbar-expand-lg navbar-light px-4 px-lg-5 py-3 py-lg-0">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                    <span class="fa fa-bars"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <div class="navbar-nav ms-auto py-0">
                        <a href="/" class="nav-item nav-link">Home</a>
                        <a href="pdfmerge.html" class="nav-item nav-link active">Merge PDFs</a>
                        <a href="domain.html" class="nav-item nav-link">Extract Mp3</a>
                        <a href="domain.html" class="nav-item nav-link">CONVERT IMAGES</a>
                    </div>
                </div>
            </nav>

            <div class="py-5 hero-header" style="background-color:var(--dark)">
                <div class="container my-5 py-5 px-lg-5">
                    <div class="row g-5">
                        <div class="col-lg-6 pt-5 text-center text-lg-start">
                            <h1 class="display-4 text-white mb-4 animated slideInLeft">Merge PDFs</h1>
                            <h1 class="text-center mb-4">Upload PDF File</h1>
                            <form action="/merge-pdf-upload" method="POST" enctype="multipart/form-data">
                                <div class="mb-3">
                                    <label for="file" class="form-label text-white">Choose PDF file(s)</label>
                                    <input type="file" class="form-control" name="pdf_file" id="file" accept=".pdf"
                                        multiple>
                                </div>
                                <button disabled id="upload" type="submit" class="btn btn-primary border-0"
                                    style="background-color:var(--primary)">Upload</button>
                            </form>
                        </div>
                        <div class="col-lg-6 text-center text-lg-start">
                            <img class="img-fluid animated zoomIn" src="/static/img/asset2.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Navbar & Hero End -->

        <!-- About Start -->
        <div class="container-xxl py-5">
            <div class="container px-lg-5">
                <div class="row g-5 align-items-center">
                    <div class="col-lg-7 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="section-title position-relative mb-4 pb-4">
                            <h1 class="mb-2">Welcome to Multi Tool</h1>
                        </div>
                        <p class="mb-4">this web app offers a range of tools to help you convert and manipulate your
                            files with ease, making it a useful resource for anyone who needs to work with different
                            types of files on a regular basis.</p>
                        <div class="row g-3">
                            <div class="col-sm-4 wow fadeIn" data-wow-delay="0.1s">
                                <a href="">
                                    <div class="about-link bg-light rounded text-center p-4">
                                        <i class="fa fa-file-word fa-2x mb-2"></i>
                                        <p class="mb-0">Convert PDF To <br>Word</p>
                                    </div>
                                </a>
                            </div>
                            <div class="col-sm-4 wow fadeIn" data-wow-delay="0.3s">
                                <a href="">
                                    <div class="about-link bg-light rounded text-center p-4">
                                        <i class="fa fa-music fa-2x mb-2"></i>
                                        <p class="mb-0">Extract Mp3 from <br>Video</p>
                                    </div>
                                </a>
                            </div>
                            <div class=" col-sm-4 wow fadeIn" data-wow-delay="0.5s">
                                <a href="pdfmerge.html">
                                    <div class="about-link bg-light rounded text-center p-4">
                                        <i class="fa fa-file-pdf fa-2x mb-2"></i>
                                        <p class="mb-0">Merge <br>PDFs</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="row g-3 mt-3">
                            <div class="col-sm-4 wow fadeIn" data-wow-delay="0.1s">
                                <a href="">
                                    <div class="about-link bg-light rounded text-center p-4">
                                        <i class="fa fa-images fa-2x mb-2"></i>
                                        <p class="mb-0">Convert JPG To <br>PNG</p>
                                    </div>
                                </a>
                            </div>
                            <div class="col-sm-4 wow fadeIn" data-wow-delay="0.3s">
                                <a href="">
                                    <div class="about-link bg-light rounded text-center p-4">
                                        <i class="fa fa-lock fa-2x mb-2"></i>
                                        <p class="mb-0">Password Protect <br>PDFs</p>
                                    </div>
                                </a>
                            </div>
                            <div class="col-sm-4 wow fadeIn" data-wow-delay="0.5s">
                                <a href="">
                                    <div class="about-link bg-light rounded text-center p-4">
                                        <i class="fa fa-microphone fa-2x mb-2"></i>
                                        <p class="mb-0">Text to <br>Speech</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <img class="img-fluid wow zoomIn" data-wow-delay="0.5s" src="/static/img/asset1.png">
                    </div>
                </div>
            </div>
        </div>
        <!-- About End -->

        <!-- Footer Start -->
        <div class="container-fluid text-white footer wow fadeIn" style="background-color:var(--dark)"
            data-wow-delay="0.1s">
            <div class="container py-5 px-lg-5">
                <div class="row gy-5 gx-4 pt-5">
                    <div class="col-12">
                        <h6 class="fw-bold text-white mb-4">Want to donate? Leave your email, or donate through <a
                                class="text-primary" href="https://www.github.com/PetarRan" target="_blank">Github
                                Sponsors</a></h6>
                        <div class="position-relative" style="max-width: 400px;">
                            <input class="form-control bg-white border-0 w-100 py-3 ps-4 pe-5" type="text"
                                placeholder="Enter your email">
                            <button type="button"
                                class="btn btn-primary py-2 px-3 position-absolute top-0 end-0 mt-2 me-2">Submit</button>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <h5 class="fw-bold text-white mb-4">Get In Touch</h5>
                        <p class="mb-2"><i class="fa fa-envelope me-3"></i>msservice1230@gmail.com</p>
                        <div class="d-flex pt-2">
                            <a class="btn btn-outline-light btn-social" href="https://www.github.com/PetarRan"
                                target="_blank"><i class="fab fa-github"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container px-lg-5">
                <div class="copyright">
                    <div class="row">
                        <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                            &copy; <a class="border-bottom" href="#">MultiTool</a>, All Right Reserved.

                            <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
                            Designed By <a class="border-bottom" href="https://htmlcodex.com">HTML Codex</a>
                            </br>
                            Distributed By <a class="border-bottom" href="https://themewagon.com"
                                target="_blank">ThemeWagon</a>
                        </div>
                        <div class="col-md-6 text-center text-md-end">
                            <div class="footer-menu">
                                <a href="">Home</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer End -->


        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-secondary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>

    <!-- JavaScript Libraries -->
    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{{ url_for('static', filename='lib/wow/wow.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/easing/easing.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/waypoints/waypoints.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/counterup/counterup.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/owlcarousel/owl.carousel.min.js') }}"></script>


    <!-- Template Javascript -->
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>

</html>